.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.formField {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: aliceblue;
}

h4 {
    margin-left: 20px;
}

.button {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: burlywood;
    border-radius: 3px;
}

.button2 {
    position: absolute;
    height: 30px;
    top: 45%;
    left: 1.5%;
    background-color: lightpink;
    border-radius: 3px;
    font-weight: bold;
}